name: Deploy to Balena

on:
  push:
    branches:
      - master
  workflow_dispatch:

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - name: Balena Deploy
        uses: balena-io/deploy-to-balena-action@v0.1.0
        with:
          balena_token: ${{ secrets.BALENA_API_TOKEN }}
          fleet: g_diego_sucaria/deedee
          create_tag: true
