name: Deploy to Balena

on:
  push:
    branches:
      - master
  workflow_dispatch:

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - name: Install Balena CLI
        run: npm install -g balena-cli

      - name: Balena Login
        env:
          BALENA_TOKEN: ${{ secrets.BALENA_API_TOKEN }}
        run: balena login --token "$BALENA_TOKEN"

      - name: Balena Push
        run: balena push g_diego_sucaria/deedee -s . --noparent-check --unsupported
